header {
    background-color: var(--bg-color);
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--dark-bg-color);

    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
}

.header-menu {
    list-style: none;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin: 0;
}
